.root--panel {
  width: 100%;
  display: flex;
  flex-direction: column;

  .root--panel__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
  }

  @media (max-width: 1200px) {
    .root--panel__item {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 1000px) {
    .root--panel__item {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.root--panel__item>* {
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid black;
}

.card-class {
  scale: 0.8;

  .card-post {
    .title {
      height: 40%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .body {
      height: 30%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .card-class__btn {
      display: flex;
      justify-content: center;
      .btn-detail {
        width: 20%;

      }
    }
  }
}